{% extends 'base.html.twig' %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}



{% block body %}

<div class="section">
    <div class="container">
        <div='row'>
            <div class='col-md-6'>
                <form method='post' action='?schedule=change'>
                <h2> Reschedule Your Cleaning Date</h2>
                <br>
                <label class='form-control bg-primary'>Pick Your New Date</label>
                <input class='form-control' id="datepicker"  name='cleaning-date'/>
                <br>
                <label class='form-control'>Pick A time</label>
                <input type='integer' max='12' class='form-control' id="datepicker"  name='cleaning-time'/>
            </div>
            <div class='col-md-6'>

            </div>
        </div>


    </div>
</div>


{% endblock %}

{% block javascripts %}
<script>
     $('#datepicker').datepicker({
       disableDaysOfWeek: [0],
        maxDate: function() {
            var date = new Date();
            date.setDate(date.getDate()+5);
            return new Date(date.getFullYear(), date.getMonth(), date.getDate());
        },
        minDate: function() {
            var date = new Date();
            date.setDate(date.getDate()-2);
            return new Date(date.getFullYear(), date.getMonth(), date.getDate());
        }
     });
 </script>
{% endblock %}
